@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');

::-webkit-scrollbar {
    display: none;
}

body {
    background: rgb(0, 89, 89);
    background-image: url(/WebPageImages/background.png);
    background-size: 150px;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: arial;
    font-size: 1.125rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#all-contents {
  max-width: 99%;
    margin: auto;
}

/* navigation menu */
nav {
    background-color: #0000b3;
    background-image: url(/WebPageImages/navbackground.png);
    background-size: 125px;
    background-position-y: 7.5px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 30px;
    align-content: center;

    & h1 {
        align-items: center;
        color: white;
        text-align: center;
        font-size: 3rem;
        font-family: 'JetBrains Mono';
    }
    & #nav-ul {
        list-style-image: none;
        margin-left: calc(50% - 165px);
        user-select: none;
        -webkit-user-drag: none;
        -moz-window-dragging: none;
    }
    & .nav-li {
        display: inline-block;
        padding: 0 10px;
        background-color: transparent;
        border: transparent;
        border-radius: 10px;
        height: fit-content;
        width: fit-content;
        transition: transform 0.3s;

        &:not(#location):hover {
            transform: translateY(-5px);
        }
    }
    
    & #location {
        background-color: rgba(255, 255, 255, .25);
        border: white solid 2px;
    }
    
    & .nav-a {
      color:#ffff00;
      font-size: 1.375rem;
      -webkit-user-drag: none;
      -moz-window-dragging: none;
    }
    & :link {
        display: inline-block;
    }
}
a {
    text-decoration: none;
    color: #fff;
}
/* main container area beneath menu */
main {
    background: rgb(25, 25, 25);
    border-radius: 30px;
}
.content {
    padding: 15px;
}