:root {
    --text-color: #000;
    --dimmer-text-color: #444;
    --background-color: #fff;
    --nav-background-img: url(/WebPageImages/navbackground-light.png);
    --nav-background-color: #255cbd;
    --header-img-bg-color: #044;
    --list-item-background: #c8c8c8;
    --list-item-background-hover: #afafaf;
}